.contactHolder {
  display: flex;
  padding: 120px 0;
}

.contactLeft {
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 80px;
}

.contactTitle {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  text-align: left;
  color: black;
  font-weight: normal;
}

.contactParagraph {
  margin: 0 0 10px;
  line-height: 30px;
  color: #777777;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.iframe {
  border: none;
  outline: none;
}