.contactHolder {
  display: flex;
  padding: 120px 0;
}

.contactLeft {
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 80px;
}

.iframe {
  border: none;
  outline: none;
}