.contentHolder {
  max-width: 1520px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  width: 92px;
  height: 180px;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}

.fixedLeft:hover .paragraphLeft {
  color: #ad9966;
}

.fixedRight:hover .paragraphRight {
  color: black;
}

.fixedLeft {
  background-image: url('/layout/left.png');
  left: 0;
}

.fixedRight {
  background-image: url('/layout/right.png');
  right: 0;
}

.paragraphLeft {
  transform: rotate(90deg) translate(90px, 64px);
  margin: 0;
  width: 180px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

.paragraphRight {
  transform: rotate(-90deg) translate(-80px, -26px);
  margin: 0;
  width: 180px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  transition: color ease-in-out 0.4s;
}

@media screen and (max-width: 1024px) {
  .fixed {
    display: none;
  }
}
